@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-footer: #f3f4f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --bg-footer: #1f2937;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



.skew-left:before {
  transform: skewX(25deg); /* Skew to the left */
}

.skew-right:before {
  transform: skewX(-25deg); /* Skew to the right */
}

a {
  color: rgb(239 68 68);
}